<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Predicteverywhere</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis - v1.2.1
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>PredictEverywhere</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>

        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Predict the stock of S&P 500</h2>
          <p data-aos="fade-up" data-aos-delay="100">We use a simple trading strategy that buys a stock when sentiment is positive and sells when the sentiment is bad. We categorize monthly sentiments into 5 different categories: extremely negative, negative, neutral, positive, and extremely positive. Then, we compare the performances of the strategies in the 5 different sentiment categories.</p>

          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="Stock Symbols of S&P500">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <button class="btn btn-primary more-btn mx-4 mt-5">More about the Program</button>



          </div>
        </div>

<!--         <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div> -->

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">



    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first mt-6">
            <img src="../static/assets/img/st1.jpg" class="img-fluid img2" alt="">

          </div>
          <div class="col-lg-6 content order-last  order-lg-first mt-5">
            <h3>Three Strategies</h3>
            <p>
              There are three strategies based on technical indicators: MACD (moving average convergence divergence), RSI (relative strenth index), and bollinger band.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>MACD (moving average convergence divergence)</h5>
                  <p>The MACD is appreciated by traders worldwide for its simplicity and flexibility, as it can be used as a trend or momentum indicator and signal opportunities to enter and exit positions.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>RSI (relative strenth index)</h5>
                  <p>RSI measures the speed and magnitude of a security's recent price changes to evaluate overvalued or undervalued conditions in the price of that security.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Bollinger Band</h5>
                  <p>A Bollinger Band is a technical analysis tool defined by a set of trendlines plotted two standard deviations (positively and negatively) away from a simple moving average (SMA) of a security's price, but which can be adjusted to user preferences.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section>
        <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first mt-6">
            <img src="../static/assets/img/sentiment.jpeg" class="img-fluid img2" alt="">

          </div>
          <div class="col-lg-6 content order-last  order-lg-first mt-5">
            <h3>Sentimental Analysis</h3>
            <p>
              To conduct a sentiment analysis of a stock, we get news titles from Google using GoogleNews(https://github.com/Iceloof/GoogleNews). After we do natural language processing of the title texts, we get the polarity scores of the titles usign NLTK.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="fa-solid fa-face-smile"></i>
                <div>
                  <h5>Positive </h5>
                  <p>The MACD is appreciated by traders worldwide for its simplicity and flexibility, as it can be used as a trend or momentum indicator and signal opportunities to enter and exit positions.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="fa-solid fa-face-meh"></i>
                <div>
                  <h5>Neutral</h5>
                  <p>RSI measures the speed and magnitude of a security's recent price changes to evaluate overvalued or undervalued conditions in the price of that security.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
               <i class="fa-solid fa-face-sad-tear"></i>
                <div>
                  <h5>Negative</h5>
                  <p>A Bollinger Band is a technical analysis tool defined by a set of trendlines plotted two standard deviations (positively and negatively) away from a simple moving average (SMA) of a security's price, but which can be adjusted to user preferences.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Results</span>
          <h2>Results</h2>
          <div class="row">
              <div class="col-md-6">
                  <img src="../static/assets/img/1-4.png" class="img-fluid img2" alt="">
              </div>
              <div class="col-md-6 ">
                <h3 class="mt-5">Backtesting</h3>
                  <p>We calculate how much profit the strategies would have made given a stock and time range through a backtesting simulation based on the stock's historical data. We compare the results by visualizing the profits in line graph. Also, we randomly sample 50 stocks from S&P 500, select a random range of time between 2012 and 2022, and calculate the average profit of the strategies. The average profit is compared using bar graph, and calculating p-value can indicate whether the differences in means are statistically significant.</p>
                  <p></p>
              </div>
                  
              
          </div>
        </div>

      

      </div>
    </section><!-- End Services Section -->

    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>About Me</span>
          <h2>About Me</h2>
          <div class="row">
              <div class="col-md-6">
                  <img src="../static/assets/img/team/team-3.jpg" class="img-fluid img2" alt="">
              </div>
              <div class="col-md-6 ">
                <h3 class="mt-5">Hello, My name is Scott Kim</h3>
                  <p>Introducing yourself can be one of the interesting as well as the most tricky task in itself. We all are unique and writing about ourselves is an essential aspect to discover our qualities more reliably. Discovering our qualities helps us a lot to know about ourselves. It is an essential element of building up one’s personality. Although, sharing them with the world is a matter of capability.Introducing yourself can be one of the interesting as well as the most tricky task in itself. We all are unique and writing about ourselves is an essential aspect to discover our qualities more reliably. Discovering our qualities helps us a lot to know about ourselves. It is an essential element of building up one’s personality. Although, sharing them with the world is a matter of capability.</p>
                  <p></p>
              </div>
                  
              
          </div>
        </div>

      

      </div>
    </section>



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Frequently Asked Questions</span>
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    How sentimental works?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">


        <div class="col-lg-6 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>


  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>


  </script>

</body>

</html>